.req-form {
  width: 100%;
  max-width: 500px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
  }

  &-main {
    width: 100%;

    .req-form-input-wrapper,
    .req-form-select-wrapper,
    .req-form-date-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;
    }

    .req-form-input-item,
    .req-form-select-item,
    .req-form-date-item {
      background-color: white;
      width: 100%;
      height: 50px;
      border-radius: 8px;
      border: 1px solid black;
      padding: 0 12px;
      font-size: 16px;
      outline: none;
    }
    .req-form-date-wrapper {
      position: relative;

      .toggle-wrapper {
        position: absolute;
        inset-y: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 0 8px;

        .toggle-label {
          padding: 2px 8px;
          border-radius: 4px;
          font-size: 14px;
          color: #4a5568; // text-gray-600
          font-weight: bold;
          cursor: pointer;

          .icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  &-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .req-form-btn-item {
      background-color: #fff;
      padding: 8px 24px;
      border-radius: 8px;
      border: 1px solid black;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #eee7abc2;
      }
    }
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"] {
  pointer-events: none;
}
